- if !@page.new_record? && (flow_meter = @page.flow_meter)
  %p
    = t('vapor.hints.visitors_of_this_page', :redirect => link_to(flow_meter.redirect_url_for_display, flow_meter.local_or_external_redirect_url))
    - if admin?
      - unless config['vapor.use_regexp']
        = t('vapor.hints.you_may')
        = link_to t('vapor.links.remove'), admin_flow_meter_path(flow_meter), :method => :delete
        = t('vapor.hints.this_redirect')
      - else
        = link_to t('vapor.links.manage_flow'), admin_flow_meters_path