- include_stylesheet 'admin/vapor'

.outset
  - form_for @flow_meter, :url => admin_flow_meters_path do |f|
    %table.index
      %thead
        %tr
          %th.catch_url= t('vapor.labels.catch_url')
          %th= t('vapor.labels.redirect_url')
          %th= t('vapor.labels.status')
          %th.modify= t('vapor.labels.action')
      %tbody
      - @flow_meters.each do |flow_meter|
        %tr
          %td.catch_url= flow_meter.catch_url_for_display
          %td= flow_meter.redirect_url_for_display
          %td= flow_meter.status
          %td.modify= link_to t('vapor.links.delete'), admin_flow_meter_path(flow_meter), :method => :delete
      %tr
        %td.catch_url= f.text_field :catch_url, :value => params[:new_catch]
        %td= f.text_field :redirect_url
        %td= f.select :status, ['307 Temporary Redirect','302 Found','301 Moved Permanently'].reverse
        %td.modify= submit_tag t('vapor.buttons.create')